/* body{
   background-image: linear-gradient(to right,#007bff ,#00ff4f);
} */
.project-container{
 padding-top: 30px;
}
.headtag{
  text-align: center;
  color: white;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 20px;
  }
  .product-item {
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 290px;
    color: #fff;
  }

  .product-item p{
    font-size: 10px;
    color: cyan;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
  }
  .product-item h3{
    font-size: 20px;
    /* font-family: 'Secular One', sans-serif; */
    font-family: 'Ysabeau Infant', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    
  
  }
  .product-item img {
    width: 100%;
  }

   .glass{
    background: linear-gradient (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} 
  